.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--milky-color);
   z-index: 1000;
}

.loader img {
   height: 130px;
   width: 250px;
   object-fit: cover;
   object-position: center;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: 0;
   }

   100% {
      transform: 1;
   }
}